/* Variables */



/* media Queries */
$small: 768px
$medium: 992px
$large: 1200px

/* colors */
$primary-color: #fcfcfc
$secondary-color: #2e2e2e

/* fonts */
$headline: helvetica, sans serif
$subline: arial, sans serif




/* Reset */

*
    margin: 0
    padding: 0
    box-sizing: border-box

a
    text-decoration: none
    
li
    list-style-type: none
    
.clearfix
    clear: both
    
body
    height: 100%
    font-family: helvetica
    
html
    height: 100%
    
/* mobile */

p
    font-weight: 100

h1
    font-weight: 100
    font-size: 16px
    
h2
    font-weight: 100
    color: white
    text-transform: uppercase
    
h3
    text-transform: uppercase
    //background-color: red
    width: 28px
    border-bottom: 1px solid orange
    font-weight: 100
    margin-bottom: 5px
    padding-bottom: 3px
    letter-spacing: 3px    


header
    background: url(bilder/space_bg.jpg)
    width: 100%
    height: 100vh
    background-size: cover
    background-repeat: none
    nav
        width: 100%
        margin: auto
        padding-top: 35px
        .nav_logo
            width: 200px
            margin: auto
            img
                width: 200px
        ul
            width: 50%
            margin: auto
            li
                width: 50%
                text-align: right
                //margin-bottom: 5px
                //background-color: rgba(0, 0, 0, 0.3)
                text-transform: uppercase
                padding-right: 5px
                border-right: 1px solid
                font-size: 22px
            li:nth-child(3n)
                position: relative
                left: 50%
                text-align: left
                padding-left: 5px
                border-left: 1px solid
                border-right: none
                margin-left: -1px
            li:nth-child(4n)
                position: relative
                left: 50%
                text-align: left
                padding-left: 5px
                border-left: 1px solid
                border-right: none
                margin-left: -1px
            li:first-child
                padding-top: 10px  
            li:last-child
                padding-bottom: 10px
                

            
                
    .tourdates
        width: 100%
        height: 75px
        background-color: rgba(0, 0, 0, 0.3)
        margin: auto
        margin-top: 200px
        margin-bottom: 30px
        padding-top: 10px
        text-align: center
        h3
            text-transform: uppercase
            font-weight: 100
            font-size: 16px
            line-height: 1.5
            color: white
        
#audio
    width: 100%
    padding-top: 35px
    background-color: $secondary-color
    color: white
    padding-bottom: 35px
    h2
        text-align: center
        font-weight: 100
        letter-spacing: 10px
        text-transform: uppercase
    h3
        line-height: 0.8
        text-transform: uppercase
        border: none
        
    .album
        width: 200px
        margin: auto
        //margin-top: 35px
    .soundcloud
        width: 95%
        margin: 25px auto
        margin-bottom: 0
        max-width: 1200px
        
#about
    width: 100%
    padding-top: 35px
    background-color: $primary-color
    padding-bottom: 35px
    h3
        text-transform: uppercase
        //background-color: red
        width: 28px
        border-bottom: 1px solid orange
        font-weight: 100
        margin-bottom: 5px
        padding-bottom: 3px
        letter-spacing: 3px
    p
        font-weight: 100
        padding-right: 9px
    .aboutwrapper
        width: 95%
        margin: auto
        max-width: 1200px
    .line
        width: 6.5%
        border-bottom: 1px solid orange
        margin-bottom: 5px
        
    
    img
        //float: left
        margin-right: 1%
        width: 150px
        
        
.aboutcontent
    width: 56%
    float: right
    padding-left: 2px
    
        
        
        
#bilder
    padding-top: 35px
    width: 100%
    background-color: $secondary-color
    padding-bottom: 35px
    
    .bildwrapper
        //background: red
        width: 95%
        margin: auto
        text-align: center
        max-width: 1200px
        img
            width: 45%
            
#kontakt
    padding-top: 35px
    //padding-left: 28%
    height: 500px
    .kontaktwrapper
        margin-left: 28%
        
        
        
        h3
            //margin-left: 28%
        p
            //margin-left: 50%
            //padding-right: 10%
            padding-top: 10px
            padding-left: 30px

        




