/* Variables */
/* media Queries */
/* colors */
/* fonts */
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

.clearfix {
  clear: both; }

body {
  height: 100%;
  font-family: "Raleway", sans-serif; }

html {
  height: 100%; }

a {
  color: black; }

/* mobile */
p {
  font-weight: 300; }

h1 {
  font-weight: 100;
  font-size: 16px; }

h2 {
  font-weight: 300;
  color: white;
  text-transform: uppercase; }

h3 {
  text-transform: uppercase;
  width: 28px;
  border-bottom: 1px solid orange;
  font-weight: 100;
  margin-bottom: 5px;
  padding-bottom: 3px;
  letter-spacing: 3px; }

header {
  background: url(bilder/space_bg.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat; }
  header nav {
    width: 100%;
    margin: auto;
    padding-top: 130px; }
    header nav .nav_logo {
      width: 200px;
      margin: auto; }
      header nav .nav_logo img {
        width: 200px; }
    header nav ul {
      width: 100%;
      position: absolute;
      top: 0;
      height: 50px;
      line-height: 50px;
      display: flex;
      background: #2e2e2e; }
      header nav ul li {
        border-right: 1px solid white;
        box-shadow: 1px;
        width: 25%;
        text-align: center; }
      header nav ul a {
        color: white;
        text-transform: uppercase; }
      header nav ul li:last-child {
        border-right: none; }
  header .tourdates {
    width: 25%;
    max-width: 960px;
    min-width: 200px;
    height: auto;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 30px;
    padding: 10px 0;
    text-align: left; }
    header .tourdates h2 {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 16px;
      line-height: 0.9;
      color: black;
      max-width: 500px;
      margin: auto;
      padding: 0 10px; }
      header .tourdates h2 .ort {
        font-size: 12px;
        margin-bottom: 10px; }

#audio {
  width: 100%;
  padding-top: 35px;
  background-color: #2e2e2e;
  color: white;
  padding-bottom: 35px; }
  #audio h2 {
    text-align: center;
    font-weight: 100;
    letter-spacing: 10px;
    text-transform: uppercase; }
  #audio h3 {
    line-height: 0.8;
    text-transform: uppercase;
    border: none; }
  #audio .album {
    width: 200px;
    margin: auto; }
  #audio .soundcloud {
    width: 95%;
    margin: 25px auto;
    margin-bottom: 0;
    max-width: 960px; }

#about {
  width: 100%;
  padding-top: 35px;
  background-color: #fcfcfc;
  padding-bottom: 35px; }
  #about h3 {
    text-transform: uppercase;
    border-bottom: 1px solid orange;
    font-weight: 100;
    margin-bottom: 5px;
    padding-bottom: 3px;
    letter-spacing: 3px; }
  #about p {
    font-weight: 100;
    padding-right: 9px; }
  #about .aboutwrapper {
    width: 95%;
    margin: auto;
    max-width: 960px; }
  #about .line {
    width: 6.5%;
    border-bottom: 1px solid orange;
    margin-bottom: 5px; }
  #about img {
    margin-right: 1%;
    width: 150px; }

.aboutcontent {
  width: 95%;
  padding-left: 2px; }

#bilder {
  padding-top: 35px;
  width: 100%;
  background-color: #2e2e2e;
  padding-bottom: 35px; }
  #bilder .bildwrapper {
    width: 95%;
    margin: auto;
    text-align: center;
    max-width: 960px; }
    #bilder .bildwrapper img {
      width: 100%; }

#kontakt {
  padding-top: 35px;
  height: 500px; }
  #kontakt .kontaktwrapper {
    width: 85%;
    margin: auto; }
    #kontakt .kontaktwrapper p {
      padding-top: 10px;
      width: 100%; }

/* Kontaktformular */
.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 35px; }

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }

#contact h3 {
  display: block;
  font-weight: 300;
  margin-bottom: 10px; }

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400; }

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%; }

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px; }

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa; }

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none; }

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: orange;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px; }

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out; }

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa; }

/* Kontaktformular Ende */
#social {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 35px; }
  #social h4 {
    text-align: center;
    margin-bottom: 25px;
    font-family: "Indie Flower", cursive;
    font-size: 20px; }
  #social .social_logos {
    width: 95%;
    margin: auto;
    text-align: center; }
    #social .social_logos img {
      width: 50px;
      margin: 0 25px; }

footer {
  height: 50px;
  background-color: #2e2e2e; }

/* xsmall */
@media screen and (min-width: 350px) {
  #about img {
    float: left;
    width: 45%; }

  .aboutcontent {
    width: 50%;
    float: right;
    padding-left: 2px; }

  #bilder {
    width: 100%; }
    #bilder .bildwrapper {
      width: 97%; }
      #bilder .bildwrapper img {
        width: 48%;
        float: left;
        margin: 1%; } }
@media screen and (min-width: 768px) {
  #audio .albumwrapper {
    width: 95%;
    margin: auto; }
    #audio .albumwrapper .album {
      width: 45%;
      float: left;
      margin: 0; }
      #audio .albumwrapper .album img {
        width: 100%; }
    #audio .albumwrapper .soundcloud {
      float: right;
      width: 50%;
      margin: 0;
      margin-top: 10%; }

  h3 {
    font-size: 28px; }

  h1 {
    font-size: 20px; }

  p {
    font-size: 20px; }

  #tourdates h2 {
    font-size: 28px; } }
@media screen and (min-width: 960px) {
  #bilder .bildwrapper img {
    width: 31.33333%; }

  #kontakt {
    float: left;
    width: 50%;
    max-width: 600px; }

  #social {
    width: 50%;
    float: right;
    height: 335px;
    margin-top: 200px;
    padding: 0;
    max-width: 960px; }

  .kontaktwrapper {
    max-width: 960px;
    margin: auto; } }
@media screen and (min-width: 1200px) {
  header {
    width: 100%;
    height: 650px; }
    header nav {
      height: 60px;
      width: 100%;
      margin: auto;
      padding-top: 50px;
      background-color: #fcfcfc; }
      header nav .nav_logo {
        width: 200px;
        display: inline-block;
        padding-left: 10%;
        position: absolute;
        top: 15px; }
        header nav .nav_logo img {
          width: 200px; }
      header nav ul {
        margin-left: 50%;
        width: 50%;
        height: 20px;
        line-height: 65px;
        background: none;
        padding-right: 10%; }
        header nav ul a {
          color: black;
          text-transform: uppercase;
          transition: 0.5s; }
          header nav ul a:hover {
            color: orange;
            border-bottom: 1px solid orange; }
        header nav ul li:last-child {
          border-right: none; }

  .albumwrapper, .aboutcontent, .bilderwrapper {
    max-width: 960px; } }

/*# sourceMappingURL=style.css.map */
