/* Variables */
/* media Queries */
/* colors */
/* fonts */
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

.clearfix {
  clear: both; }

body {
  height: 100%;
  font-family: "Raleway", sans-serif; }

html {
  height: 100%; }

a {
  color: black; }

/* mobile */
p {
  font-weight: 300; }

h1 {
  font-weight: 100;
  font-size: 16px; }

h2 {
  font-weight: 300;
  color: white;
  text-transform: uppercase; }

h3 {
  text-transform: uppercase;
  width: 28px;
  border-bottom: 1px solid orange;
  font-weight: 100;
  margin-bottom: 5px;
  padding-bottom: 3px;
  letter-spacing: 3px; }

header {
  background: url(bilder/space_bg.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat; }
  header nav {
    width: 100%;
    margin: auto;
    padding-top: 100px; }
    header nav .nav_logo {
      width: 200px;
      margin: auto; }
      header nav .nav_logo img {
        width: 200px; }
    header nav ul {
      width: 100%;
      position: absolute;
      top: 0;
      height: 50px;
      line-height: 50px;
      display: flex;
      background: #2e2e2e; }
      header nav ul li {
        border-right: 1px solid white;
        box-shadow: 1px;
        width: 25%;
        text-align: center; }
      header nav ul a {
        color: white;
        text-transform: uppercase; }
      header nav ul li:last-child {
        border-right: none; }
  header .tourdates {
    width: 200px;
    height: auto;
    background-color: rgba(46, 46, 46, 0.5);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 10px 0;
    text-align: left;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75); }
    header .tourdates h2 {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 16px;
      line-height: 0.9;
      color: white;
      max-width: 500px;
      margin: auto;
      padding: 0 10px; }
      header .tourdates h2 .ort {
        font-size: 12px;
        margin-bottom: 10px; }

#audio {
  width: 100%;
  padding-top: 35px;
  background-color: #2e2e2e;
  color: white;
  padding-bottom: 35px; }
  #audio h2 {
    text-align: center;
    font-weight: 100;
    letter-spacing: 10px;
    text-transform: uppercase; }
  #audio h3 {
    line-height: 0.8;
    text-transform: uppercase;
    border: none; }
  #audio .album {
    width: 200px;
    margin: auto; }
  #audio .soundcloud {
    width: 95%;
    margin: 25px auto;
    margin-bottom: 0;
    max-width: 1200px; }

#about {
  width: 100%;
  padding-top: 35px;
  background-color: #fcfcfc;
  padding-bottom: 35px; }
  #about h3 {
    text-transform: uppercase;
    border-bottom: 1px solid orange;
    font-weight: 100;
    margin-bottom: 5px;
    padding-bottom: 3px;
    letter-spacing: 3px; }
  #about p {
    font-weight: 100;
    padding-right: 9px; }
  #about .aboutwrapper {
    width: 95%;
    margin: auto;
    max-width: 1200px; }
  #about .line {
    width: 6.5%;
    border-bottom: 1px solid orange;
    margin-bottom: 5px; }
  #about img {
    float: left;
    margin-right: 1%;
    width: 150px; }

.aboutcontent {
  width: 50%;
  float: right;
  padding-left: 2px; }

#bilder {
  padding-top: 35px;
  width: 100%;
  background-color: #2e2e2e;
  padding-bottom: 35px; }
  #bilder .bildwrapper {
    width: 95%;
    margin: auto;
    text-align: center;
    max-width: 1200px; }
    #bilder .bildwrapper img {
      width: 45%; }

#kontakt {
  padding-top: 35px;
  height: 500px; }
  #kontakt .kontaktwrapper {
    width: 85%;
    margin: auto; }
    #kontakt .kontaktwrapper p {
      padding-top: 10px;
      width: 50%; }

/* Kontaktformular */
.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 35px; }

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }

#contact h3 {
  display: block;
  font-weight: 300;
  margin-bottom: 10px; }

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400; }

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%; }

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px; }

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa; }

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none; }

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: orange;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px; }

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out; }

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa; }

/* Kontaktformular Ende */
/* back to top */

/*# sourceMappingURL=style.css.map */
